.perspective {
	perspective: 1500px;
	perspective-origin: left;
	display: flex;
}

.perspective__inner {
	position: relative;
	z-index: 4;
	outline: 40px solid var(--colorBlue);
	transition: transform 500ms;
	width: 100%;
	background-color: var(--colorBlack);
}

.perspective__inner--active {
	transform: rotateY(20deg) translateZ(-100px) scale(0.6) translateZ(-700px);
	pointer-events: none;
}

.outer__nav {
	position: absolute;
	width: 50%;
	right: 0;
	height: 100vh;
	background-color: var(--colorDisabled);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 10% 0;
}

.nav__item {
	position: relative;
	text-align: center;
	font-size: 3.5rem;
	font-weight: 900;

	&:before {
		content: '';
		position: absolute;
		height: 15px;
		background: var(--colorBlue);
		left: -10%;
		right: -10%;
		top: 50%;
		transform: translateY(-50%);
		display: none;
	}
}

.nav__item--active {
	&:before {
		display: block;
	}
}


.header {
	position: relative;
	max-width: 1440px;
	margin: 0 auto;
	height: 7vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
}

.logo__img-header {
	margin-right: 10px;
}

.burger {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 50px;
	height: 50px;
	padding: 17px 13px;
}

.burger__line {
	height: 2px;
	background: #ffffff;

	&:nth-child(2) {
		width: 70%;
		margin: 0 auto;
	}
}

.main {
	position: relative;
	height: 93vh;
	overflow: hidden;
}

.aside {
	height: 100%;
	width: 200px;
	position: absolute;
	left: 10%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	z-index: 4;

	&:before {
		content: '';
		position: absolute;
		background: var(--colorDisabled);
		width: 2px;
		top: 10%;
		bottom: 10%;
		left: 20%;
	}
}

.aside__point {
	position: relative;
	display: flex;
	cursor: pointer;

	&:before {
		content: '';
		position: absolute;
		width: 2px;
		height: 2px;
		border-radius: 50%;
		background: var(--colorWhite);
		left: 20%;
		top: 50%;
		transform: translateY(-50%);
	}
}

.aside__point--active {

	&:before {
		background: var(--colorBlue);
	}

	.aside__number {
		opacity: 1;
		transform: translateX(0);
	}

	.aside__name {
		opacity: 1;
	}
}

.aside__number {
	opacity: 0.3;
	transform: translateX(300%);
	margin-right: 45px;
	transition: opacity 500ms, transform 500ms;
}

.aside__name {
	font-size: 14px;
	opacity: 0;
}

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	margin: 0 auto;
	width: 47%;
}

.intro__banner {
	position: relative;
	background: url(../../img/index/intro/introduction-visual.png);
	background-size: auto 101%;
	background-repeat: no-repeat;
	background-position: right 0%;
	padding: 5% 0;
	margin-bottom: 20px;

	&:after {
		content: '';
		width: 3%;
		height: 4px;
		background: var(--colorBlue);
		position: absolute;
		left: 0;
		bottom: 0;
		transform: translateY(2px);
	}

	&::before {
		content: '';
		position: absolute;
		left: -2%;
		bottom: 0;
		right: -2%;
		height: 2px;
		background-color: var(--colorDisabled);
	}
}

.title-intro {
	font-weight: 900;
}

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 10px 20px;
	justify-content: center;
}

.card__title-intro {
	margin: 16px 0;
}

.cards__item {
	min-height: 100px;
	margin: 0;
	color: var(--colorDisabled);
	font-weight: 600;
	cursor: pointer;

	&:hover {
		color: var(--colorWhite);
	}
}

.works {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	height: 100%;
	width: 47%;
}

.title-works {
	font-size: 2rem;
	margin-bottom: 40px;
	text-align: center;
}

.slider-works {
	position: relative;
}

.slider__items-works {
	position: relative;
	width: 100%;
	align-items: center;
	height: 396px;
}

.slider__item-works {
	width: 150px;

	&:nth-child(2) {
		width: 300px;

		.slider__data {
			color: var(--colorWhite);
		}

		.slider__text {
			opacity: 1;
			height: auto;
		}
	}
}

.works__img {
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	background: #ffffff;
	margin-bottom: 25px;

	&:before {
		content: '';
		padding-top: 100%;
		display: block;
	}

	img {
		position: absolute;
		top: 0;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

.slider__data {
	text-align: center;
	color: var(--colorDisabled);
	padding: 0 5%;
}

.slider__title {
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 16px;
}

.slider__text {
	opacity: 0;
	font-size: 0.875rem;
	font-weight: 700;
	height: 0;
	overflow: hidden;
}

.slider__arrow {
	fill: var(--colorWhite);
	stroke: #ffffff;
	stroke-linecap: round;
	position: absolute;
	top: 150px;
	// transform: translateY(-50%);
	width: 50px;
	height: 50px;
	background: var(--colorDisabled);
	border-radius: 50%;
	padding: 1%;
	cursor: pointer;

	&:nth-child(1) {
		left: 0;
		transform: rotate(-90deg) translateY(-100%);
	}

	&:nth-child(2) {
		right: 0;
		transform: rotate(90deg) translateY(-100%);
	}
}